:host {
  .article-title {
    color: #ffffff !important;
  }

  /* Custom outline focus overrides */
  button:focus,
  a:focus {
    outline: 2px solid var(--color-azoto-blue-solid);
    outline-offset: 2px;
    border-radius: 8px;
  }
}
