<div class="min-h-screen flex flex-col">
  <header class="bg-[var(--primary-900)] text-[var(--primary-100)] p-4 flex justify-between items-center">
    <div class="font-bold text-xl">
      <a [routerLink]="['']">
        AzottoDev
      </a>
    </div>
    <nav class="flex space-x-4">
      <a [routerLink]="['/projects']" class="hover:text-[var(--primary-300)] transition-colors duration-300 disabled">Proyectos</a>
      <a [routerLink]="['/articles']" class="hover:text-[var(--primary-300)] transition-colors duration-300 disabled">Articulos</a>
    </nav>
    <button (click)="themeService.toggleTheme()" class="relative w-12 h-12 rounded-full transition-colors duration-300 focus:outline-none">
      <img *ngIf="themeService.getTheme() === 'dark'" ngSrc="moon-50.ico" width="32" height="32" alt="Tema Claro" class="absolute w-8 h-8 top-2 left-2 transition-opacity duration-300 ease-in-out" />
      <img *ngIf="themeService.getTheme() !== 'dark'" ngSrc="sun-50.ico" width="32" height="32" alt="Tema Oscuro" class="absolute w-8 h-8 top-2 left-2 transition-opacity duration-300 ease-in-out" />
    </button>
  </header>

  <main class="flex-grow p-8">
    <router-outlet></router-outlet>
  </main>

  <footer class="bg-[var(--primary-900)] text-[var(--primary-100)] p-4 text-center">
    © {{currentYear}} AzottoDev. Todos los derechos reservados.
  </footer>
</div>
