:host {
  /* Simple transition for image hovers */
  img {
    transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  }

  /* Custom outline focus overrides */
  button:focus,
  a:focus {
    outline: 2px solid var(--color-azoto-blue-solid);
    outline-offset: 2px;
    border-radius: 8px;
  }
}