@use "tailwindcss";

:root {
  --primary-100: #f0f0f0;
  --primary-500: #808080;
  --primary-900: #1a1a1a;

  --secondary-100: #e0e0e0;
  --secondary-500: #a0a0a0;
  --secondary-900: #2a2a2a;

  --tertiary-100: #f8f8f8;
  --tertiary-500: #909090;
  --tertiary-900: #333333;

  --text-primary: #444444; /* Gris oscuro en lugar de negro */
  --text-secondary: #666666;
  --background-primary: #e7e7e7; /* Gris muy claro en lugar de blanco */
  --background-secondary: #e0e0e0; /* Gris ligeramente más oscuro */

  transition: background-color 0.3s ease, color 0.3s ease;
}

[data-theme="dark"] {
  --primary-100: #333333;
  --primary-500: #a0a0a0;
  --primary-900: #dddddd;

  --secondary-100: #2a2a2a;
  --secondary-500: #808080;
  --secondary-900: #e0e0e0;

  --tertiary-100: #1a1a1a;
  --tertiary-500: #909090;
  --tertiary-900: #f8f8f8;

  --text-primary: #d0d0d0; /* Gris claro en lugar de blanco */
  --text-secondary: #b3b3b3;
  --background-primary: #1a1a1a; /* Gris muy oscuro */
  --background-secondary: #282828; /* Gris ligeramente más claro */

  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  background-color: var(--background-secondary);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

header, footer {
  background-color: var(--primary-900);
  color: var(--primary-100);
  transition: background-color 0.3s ease, color 0.3s ease;
}

button {
  transition: background-color 0.3s ease;
}

img {
  transition: opacity 0.3s ease-in-out;
}

.color-sass { background-color: #CF649A; }
.color-angular { background-color: #DD0031; }
.color-gulp { background-color: #CF4647; }
.color-html { background-color: #E34F26; }
.color-git { background-color: #F34F29; }
.color-javascript { background-color: #F7DF1E; }
.color-vuejs { background-color: #41B883; }
.color-rails { background-color: #CC0000; }
.color-nodejs { background-color: #5FA04E; }
.color-bootstrap { background-color: #7952B3; }
.color-mongodb { background-color: #47A248; }
.color-typescript { background-color: #3178C6; }
.color-css { background-color: #1572B6; }
.color-mysql { background-color: #4479A1; }
.color-phpmyadmin { background-color: #777BB4; }
.color-linux { background-color: #FCC624; }
.color-postman { background-color: #FF6C37; }
.color-wordpress { background-color: #21759B; }
.color-firebase { background-color: #DD2C00; }
.color-c { background-color: #00599C; }

.color-tailwind { background-color: #06B6D4;}
.color-github { background-color: #9E95B7;}

a.disabled {
  pointer-events: none;
  cursor: default;
}
